@charset "utf-8";

body{
	font-size: 1em !important;
}
label{
	font-weight: bolder !important;
}
footer{
	margin-top: 50px;
	padding-top: 5px;
	border-top: 1px solid #f2f2f2;
	color: #999;	
}
.error-message{
	color: red;
	font-size: 12px;
	font-weight: bolder
}
.float-right{
	float: right !important;
	width: 50px !important;
}
@media (max-width: 767px) {
	h1{
		font-size: 2em;		
	}
	h2{
		font-size: 1.8em;		
	}
}